/* ajax__tab_blueGrad-theme theme (../images/blueGrad.jpg) */
.ajax__tab_blueGrad-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    color:#333;
    border-bottom:solid 5px #84aeef;
}
.ajax__tab_blueGrad-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../images/blueGrad.jpg) repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:middle;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_blueGrad-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#fff;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    font-weight:bold;
}
.ajax__tab_blueGrad-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(../images/blueGrad.jpg) #84aeef repeat-x left -1300px;
}
.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_outer
{
     background:url(../images/blueGrad.jpg) #84aeef repeat-x left -1400px;  
}
.ajax__tab_blueGrad-theme .ajax__tab_body 
{
    font-family:Arial;
    font-size:12px;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}


.jcarousel-skin-tango .jcarousel-container {
  
    width: 696px;
     height: 197px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 275px;
     height: 197px;
    padding: 0;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 221px;
    height: 197px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
     width: 275px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
     width: 221px;
    height: 195px;
   
}

.jcarousel-skin-tango .jcarousel-item {
     width: 275px;
    height: 245px;
    
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;

}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 11px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #D5E6D6;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 75px;
	right: -14px;
    width: 11px;
    height: 25px;
    cursor: pointer;
    background: transparent url(../image/next-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 13px;
    right: auto;
    background: transparent url(next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
   background: transparent url(../image/next-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: transparent url(../image/next-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background: transparent url(../image/next-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 75px;
	left: -13px;
    width: 11px;
    height: 25px;
    cursor: pointer;
   background: transparent url(../image/prev-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 13px;
    background: transparent url(../image/prev-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background: transparent url(../image/prev-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background: transparent url(../image/prev-button.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(../image/prev-button.png) no-repeat ;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
     top: 75px;
    left: -13px;
    width: 11px;
    height: 15px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}




