<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublicAccountSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49807/PublicAccount.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicAccountSoap"
                contract="WUserBL.PublicAccountSoap" name="PublicAccountSoap" />
        </client>
    </system.serviceModel>
</configuration>