.travel-h1
{
	font-size: 20px;
	font-weight: normal;
	line-height: 1.15;
	color: #1C5DA3;
	float: right;
	width: 100%;
	margin: 5px 0 0 0;
}
.travel-h1 span
{
	float: right;
}

/* end validate form */
.thinline7
{
	width: 695px;
	height: 1px;
	background-color: #CCC;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	text-align: justify;
}
.field_book
{
	float: left;
	width: 700px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.span_120
{
	float: left;
	padding-left: 20px;
	width: 120px;
	margin-top: 2px;
}
.span_200
{
	float: left;
	padding-left: 20px;
	width: 180px;
	margin-top: 2px;
}
.span_220
{
	float: left;
	padding-left: 20px;
	width: 220px;
	margin-top: 2px;
}
.span_320
{
	float: left;
	padding-left: 20px;
	width: 220px;
	margin-top: 2px;
}
.span_1000
{
	float: left;
	padding-left: 20px;
	width: 650px;
	margin-top: 2px;
}
.input_book_250
{
	float: left;
	width: 250px;
	height: 18px;
	color: #777;
	outline: none;
}
.input_book_100
{
	float: left;
	width: 100px;
	height: 18px;
	color: #777;
	outline: none;
}
.input_book_130
{
	float: left;
	width: 140px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.input_book_180
{
	float: left;
	width: 180px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.input_book_280
{
	float: left;
	width: 280px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.field_book p
{
	float: left;
	margin-top: 2px;
	padding-left: 10px;
}
.radio_left
{
	float: left;
	border: none;
	margin-left: 20px;
	margin-top: 3px;
}
.textarea_book
{
	float: left;
	width: 300px;
	height: 120px;
	border: 1px solid #ccc;
	color: #777;
	padding: 5px;
}
.button_submit
{
	float: left;
	padding: 2px 10px;
	border: 1px solid #777;
	color: #fff;
	cursor: pointer;
	background: #1964B1;
	margin: 10px 10px 10px 0;
}
.button_submit:hover
{
	color: #CCA7AE;
}
div.CheckForm
{
	background: transparent;
	border: 0;
	width: 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.CheckForm label.error
{
	display: inline;
}
div.CheckForm ol li
{
	list-style-type: disc;
}
label.error
{
	display: block;
	width: auto;
	color: red;
	font-size: 12px;
}

div.error
{
	display: none;
}
input.checkbox
{
	border: none;
}
input.error
{
	border: 1px dotted red;
}

/* end validate */

/*breadcrumb*/
.DanhSachTour-title
{
	float: left;
	width: 100%;
	height: 26px;
	border-bottom: 2px solid #5a90c6;
}
.breadcrumb-box
{
	float: left;
	height: 26px;
	font-size: 12px;
	color: #FFFFFF;
	background: #5a90c6;
	font-weight: bold;
}
.breadcrumb-box p
{
	margin: 5px 5px 0px 5px;
}
.breadcrumb-box p a
{
	color: #FFFFFF;
}
.breadcrumb-box p a:hover
{
	color: #EFEFEF;
}
.regions
{
	float: left;
	width: 537px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.regions-title
{
	float: left;
	font-weight: bold;
	width: 57px;
	line-height: 25px;
}
.regions-checkbox
{
	float: left;
	width: 480px;
}
.span_custome
{
	float: left;
	padding-left: 5px;
	width: 180px;
	margin-top: 2px;
	font-weight: bold;
}
.toursub2
{
	float: left;
	width: 695px;
	margin-top: 20px;
}
.toursub3
{
	float: left;
	width: 695px;
	margin-top: 10px;
}
.toursub2 h3
{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
	color: #1C5DA3;
}
.in1toursub10
{
}
.in1toursub10 a
{
	color:Black;
}
.in1toursub10 a:hover
{
	color:Red;
	}
