.travel-h1
{
	font-size: 20px;
	font-weight: normal;
	line-height: 1.15;
	color: #1C5DA3;
	float: right;
	width: 100%;
	margin: 5px 0 0 0;
}
.travel-h1 span
{
	float: right;
}

/* end validate form */
.thinline7
{
	width: 695px;
	height: 1px;
	background-color: #CCC;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	text-align: justify;
}
.field_book
{
	float: left;
	width: 700px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.span_120
{
	float: left;
	padding-left: 20px;
	width: 120px;
	margin-top: 2px;
}
.span_200
{
	float: left;
	padding-left: 20px;
	width: 180px;
	margin-top: 2px;
}
.span_220
{
	float: left;
	padding-left: 20px;
	width: 220px;
	margin-top: 2px;
}
.span_320
{
	float: left;
	padding-left: 20px;
	width: 220px;
	margin-top: 2px;
}
.span_1000
{
	float: left;
	padding-left: 20px;
	width: 650px;
	margin-top: 2px;
}
.input_book_250
{
	float: left;
	width: 250px;
	height: 18px;
	color: #777;
	outline: none;
}
.input_book_100
{
	float: left;
	width: 100px;
	height: 18px;
	color: #777;
	outline: none;
}
.input_book_130
{
	float: left;
	width: 140px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.input_book_180
{
	float: left;
	width: 180px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.input_book_280
{
	float: left;
	width: 280px;
	height: 18px;
	border: 1px solid #ccc;
	color: #777;
}
.field_book p
{
	float: left;
	margin-top: 2px;
	padding-left: 10px;
}
.radio_left
{
	float: left;
	border: none;
	margin-left: 20px;
	margin-top: 3px;
}
.textarea_book
{
	float: left;
	width: 300px;
	height: 120px;
	border: 1px solid #ccc;
	color: #777;
	padding: 5px;
}
.button_submit
{
	float: left;
	padding: 2px 10px;
	border: 1px solid #777;
	color: #fff;
	cursor: pointer;
	background: #1964B1;
	margin: 10px 10px 10px 0;
}
.button_submit:hover
{
	color: #CCA7AE;
}
div.CheckForm
{
	background: transparent;
	border: 0;
	width: 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.CheckForm label.error
{
	display: inline;
}
div.CheckForm ol li
{
	list-style-type: disc;
}
label.error
{
	display: block;
	width: auto;
	color: red;
	font-size: 12px;
}

div.error
{
	display: none;
}
input.checkbox
{
	border: none;
}
input.error
{
	border: 1px dotted red;
}

/* end validate */

/*breadcrumb*/
.DanhSachTour-title
{
	float: left;
	width: 100%;
	height: 26px;
	border-bottom: 2px solid #5a90c6;
}
.breadcrumb-box
{
	float: left;
	height: 26px;
	font-size: 12px;
	color: #FFFFFF;
	background: #5a90c6;
	font-weight: bold;
}
.breadcrumb-box p
{
	margin: 5px 5px 0px 5px;
}
.breadcrumb-box p a
{
	color: #FFFFFF;
}
.breadcrumb-box p a:hover
{
	color: #EFEFEF;
}
.regions
{
	float: left;
	width: 537px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.regions-title
{
	float: left;
	font-weight: bold;
	width: 57px;
	line-height: 25px;
}
.regions-checkbox
{
	float: left;
	width: 480px;
}
.span_custome
{
	float: left;
	padding-left: 5px;
	width: 180px;
	margin-top: 2px;
	font-weight: bold;
}
.toursub2
{
	float: left;
	width: 695px;
	margin-top: 20px;
}
.toursub3
{
	float: left;
	width: 695px;
	margin-top: 10px;
}
.toursub2 h3
{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
	color: #1C5DA3;
}
.toursub12 {
float: left;
width: 695px;
margin-top: 7px;
}
.in1toursub10
{
	float: left;
	width: 325px;
	margin-left: 0px;
	font-size: 12px;
}
.in1toursub10 a
{
	color: #0D4C8D;
	text-decoration: none;
}
.in2toursub10
{
	float: left;
	width: 150px;
	font-size: 12px;
}
.in3toursub10
{
	float: left;
	width: 45px;
	font-size: 12px;
}
.in4toursub10
{
	float: right;
	width: 60px;
	color: red;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}
.gallery
{
	width: 695px;
	overflow: hidden;
}
.gallery h3
{
	font-weight: normal;
	margin: 0 0 10px 0;
	position: relative;
	height: 16px;
}

.gallery .mainPic
{
	float: left;
	width: 510px;
}

.gallery .thumbs
{
	float: left;
	height: 242px;
	overflow: hidden;
	width: 185px;
}
.gallery .thumbs p
{
	padding-bottom: 11px;
	text-align: right;
	text-transform: lowercase;
	font-size: 10px;
}
.gallery .thumbs img
{
	border: 1px solid #C7BDA0;
	height: 63px;
	margin-bottom: 10px;
	margin-left: 2px;
	padding: 0;
	width: 84px;
}

.Album
{
	width: 110px;
	float: left;
	margin: 10px;
	height: 80px;
	padding: 2px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
}
.Album-Cover
{
}
.Album-Cover img
{
	width: 110px;
	height: 80px;
}
.Album-Title
{
	margin: 10px 0;
}
.Album-Title a
{
	color: Blue;
}
.Album-Title a:hover
{
	color: Red;
}

.Album-video
{
	width: 140px;
	float: left;
	margin: 15px;
	height: 120px;
	padding: 2px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
}
.Album-Cover-video
{
}
.Album-Cover-video img
{
	width: 140px;
	height: 120px;
}
.Album-Title-video
{
	margin: 10px 0;
}
.Album-Title-video a
{
	color: Blue;
}
.Album-Title-video a:hover
{
	color: Red;
}

